main {
    --color-prettylights-syntax-comment: #8b949e;
    --color-prettylights-syntax-constant: #79c0ff;
    --color-prettylights-syntax-entity: #d2a8ff;
    --color-prettylights-syntax-storage-modifier-import: #c9d1d9;
    --color-prettylights-syntax-entity-tag: #7ee787;
    --color-prettylights-syntax-keyword: #ff7b72;
    --color-prettylights-syntax-string: #a5d6ff;
    --color-prettylights-syntax-variable: #ffa657;
    --color-prettylights-syntax-brackethighlighter-unmatched: #f85149;
    --color-prettylights-syntax-invalid-illegal-text: #f0f6fc;
    --color-prettylights-syntax-invalid-illegal-bg: #8e1519;
    --color-prettylights-syntax-carriage-return-text: #f0f6fc;
    --color-prettylights-syntax-carriage-return-bg: #b62324;
    --color-prettylights-syntax-string-regexp: #7ee787;
    --color-prettylights-syntax-markup-list: #f2cc60;
    --color-prettylights-syntax-markup-heading: #1f6feb;
    --color-prettylights-syntax-markup-italic: #c9d1d9;
    --color-prettylights-syntax-markup-bold: #c9d1d9;
    --color-prettylights-syntax-markup-deleted-text: #ffdcd7;
    --color-prettylights-syntax-markup-deleted-bg: #67060c;
    --color-prettylights-syntax-markup-inserted-text: #aff5b4;
    --color-prettylights-syntax-markup-inserted-bg: #033a16;
    --color-prettylights-syntax-markup-changed-text: #ffdfb6;
    --color-prettylights-syntax-markup-changed-bg: #5a1e02;
    --color-prettylights-syntax-markup-ignored-text: #c9d1d9;
    --color-prettylights-syntax-markup-ignored-bg: #1158c7;
    --color-prettylights-syntax-meta-diff-range: #d2a8ff;
    --color-prettylights-syntax-brackethighlighter-angle: #8b949e;
    --color-prettylights-syntax-sublimelinter-gutter-mark: #484f58;
    --color-prettylights-syntax-constant-other-reference-link: #a5d6ff;
    --color-btn-text: #c9d1d9;
    --color-btn-bg: #21262d;
    --color-btn-border: rgb(240 246 252 / 10%);
    --color-btn-shadow: 0 0 transparent;
    --color-btn-inset-shadow: 0 0 transparent;
    --color-btn-hover-bg: #30363d;
    --color-btn-hover-border: #8b949e;
    --color-btn-active-bg: hsl(212deg 12% 18% / 100%);
    --color-btn-active-border: #6e7681;
    --color-btn-selected-bg: #161b22;
    --color-btn-primary-text: #fff;
    --color-btn-primary-bg: #238636;
    --color-btn-primary-border: rgb(240 246 252 / 10%);
    --color-btn-primary-shadow: 0 0 transparent;
    --color-btn-primary-inset-shadow: 0 0 transparent;
    --color-btn-primary-hover-bg: #2ea043;
    --color-btn-primary-hover-border: rgb(240 246 252 / 10%);
    --color-btn-primary-selected-bg: #238636;
    --color-btn-primary-selected-shadow: 0 0 transparent;
    --color-btn-primary-disabled-text: rgb(240 246 252 / 50%);
    --color-btn-primary-disabled-bg: rgb(35 134 54 / 60%);
    --color-btn-primary-disabled-border: rgb(240 246 252 / 10%);
    --color-fg-default: #c9d1d9;
    --color-fg-muted: #8b949e;
    --color-fg-subtle: #484f58;
    --color-canvas-default: #0d1117;
    --color-canvas-overlay: #161b22;
    --color-canvas-inset: #010409;
    --color-canvas-subtle: #161b22;
    --color-border-default: #30363d;
    --color-border-muted: #21262d;
    --color-neutral-muted: rgb(110 118 129 / 40%);
    --color-accent-fg: #58a6ff;
    --color-accent-emphasis: #1f6feb;
    --color-accent-muted: rgb(56 139 253 / 40%);
    --color-accent-subtle: rgb(56 139 253 / 15%);
    --color-success-fg: #3fb950;
    --color-danger-fg: #f85149;
    --color-primer-shadow-inset: 0 0 transparent;
    --color-primer-shadow-focus: 0 0 0 3px #0c2d6b;
    --color-scale-gray-7: #21262d;
    --color-scale-blue-8: #0c2d6b;

    /*! Extensions from @primer/css/alerts/flash.scss */
    --color-social-reaction-bg-hover: var(--color-scale-gray-7);
    --color-social-reaction-bg-reacted-hover: var(--color-scale-blue-8);

    color-scheme: dark;
}

main .pagination-loader-container {
    background-image: url("https://github.com/images/modules/pulls/progressive-disclosure-line-dark.svg");
}

/*! tailwindcss v2.2.19 | MIT License | https://tailwindcss.com*/
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
html {
    -webkit-text-size-adjust: 100%;
    line-height: 1.15;
    tab-size: 4
}

body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    margin: 0
}

hr {
    color: inherit;
    height: 0
}

abbr[title] {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
pre,
samp {
    font-family: ui-monospace, SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: initial
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    border-color: inherit;
    text-indent: 0
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
select {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

::-moz-focus-inner {
    border-style: none;
    padding: 0
}

:-moz-focusring {
    outline: 1px dotted ButtonText
}

:-moz-ui-invalid {
    box-shadow: none
}

legend {
    padding: 0
}

progress {
    vertical-align: initial
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
    margin: 0
}

button {
    background-color: initial;
    background-image: none
}

fieldset,
ol,
ul {
    margin: 0;
    padding: 0
}

ol,
ul {
    list-style: none
}

html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    line-height: 1.5
}

body {
    font-family: inherit;
    line-height: inherit
}

*,
:after,
:before {
    border: 0 solid;
    box-sizing: border-box
}

hr {
    border-top-width: 1px
}

img {
    border-style: solid
}

textarea {
    resize: vertical
}

input::placeholder,
textarea::placeholder {
    color: #9ca3af;
    opacity: 1
}

[role=button],
button {
    cursor: pointer
}

:-moz-focusring {
    outline: auto
}

table {
    border-collapse: collapse
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    line-height: inherit;
    padding: 0
}

code,
kbd,
pre,
samp {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
    display: block;
    vertical-align: middle
}

img,
video {
    height: auto;
    max-width: 100%
}

[hidden] {
    display: none
}

*,
:after,
:before {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-border-opacity: 1;
    --tw-blur: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-brightness: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-contrast: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-grayscale: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-hue-rotate: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-invert: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-saturate: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-sepia: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-drop-shadow: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
    border-color: rgba(229, 231, 235, var(--tw-border-opacity))
}

.sr-only {
    clip: rect(0, 0, 0, 0);
    border-width: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px
}

.visible {
    visibility: visible
}

.invisible {
    visibility: hidden
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.top-0 {
    top: 0
}

.right-0 {
    right: 0
}

.left-\[30px\] {
    left: 30px
}

.z-20 {
    z-index: 20
}

.z-10 {
    z-index: 10
}

.float-left {
    float: left
}

.m-2 {
    margin: .5rem
}

.m-\[-1px\] {
    margin: -1px
}

.m-0 {
    margin: 0
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.my-8 {
    margin-bottom: 2rem;
    margin-top: 2rem
}

.mx-2 {
    margin-left: .5rem;
    margin-right: .5rem
}

.my-2 {
    margin-bottom: .5rem;
    margin-top: .5rem
}

.my-4 {
    margin-bottom: 1rem;
    margin-top: 1rem
}

.my-\[15px\] {
    margin-bottom: 15px;
    margin-top: 15px
}

.mb-6 {
    margin-bottom: 1.5rem
}

.mr-2 {
    margin-right: .5rem
}

.ml-2 {
    margin-left: .5rem
}

.ml-1 {
    margin-left: .25rem
}

.mb-2 {
    margin-bottom: .5rem
}

.mr-\[9px\] {
    margin-right: 9px
}

.mb-\[-1px\] {
    margin-bottom: -1px
}

.mt-2 {
    margin-top: .5rem
}

.mr-1 {
    margin-right: .25rem
}

.mt-4 {
    margin-top: 1rem
}

.mt-\[3\.5px\] {
    margin-top: 3.5px
}

.mb-0 {
    margin-bottom: 0
}

.ml-\[2px\] {
    margin-left: 2px
}

.mt-1 {
    margin-top: .25rem
}

.-ml-5 {
    margin-left: -1.25rem
}

.mr-4 {
    margin-right: 1rem
}

.mt-\[2px\] {
    margin-top: 2px
}

.mr-\[-1px\] {
    margin-right: -1px
}

.mt-\[-1px\] {
    margin-top: -1px
}

.mb-1 {
    margin-bottom: .25rem
}

.mt-6 {
    margin-top: 1.5rem
}

.mb-4 {
    margin-bottom: 1rem
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.inline {
    display: inline
}

.flex {
    display: flex
}

.table {
    display: table
}

.contents {
    display: contents
}

.hidden {
    display: none
}

.\!hidden {
    display: none !important
}

.h-8 {
    height: 2rem
}

.h-4 {
    height: 1rem
}

.h-3 {
    height: .75rem
}

.h-full {
    height: 100%
}

.h-\[0\.25em\] {
    height: .25em
}

.max-h-\[240px\] {
    max-height: 240px
}

.max-h-\[500px\] {
    max-height: 500px
}

.min-h-screen {
    min-height: 100vh
}

.min-h-\[105px\] {
    min-height: 105px
}

.min-h-\[100px\] {
    min-height: 100px
}

.w-full {
    width: 100%
}

.w-max {
    width: max-content
}

.w-\[29px\] {
    width: 29px
}

.w-4 {
    width: 1rem
}

.w-\[1\%\] {
    width: 1%
}

.w-\[2px\] {
    width: 2px
}

.w-min {
    width: min-content
}

.w-\[146px\] {
    width: 146px
}

.w-8 {
    width: 2rem
}

.min-w-0 {
    min-width: 0
}

.min-w-\[75\%\] {
    min-width: 75%
}

.min-w-\[200px\] {
    min-width: 200px
}

.min-w-\[50px\] {
    min-width: 50px
}

.min-w-\[26px\] {
    min-width: 26px
}

.max-w-3xl {
    max-width: 48rem
}

.flex-auto {
    flex: 1 1 auto
}

.flex-shrink-0 {
    flex-shrink: 0
}

.origin-center {
    transform-origin: center
}

.translate-y-\[-10\%\] {
    --tw-translate-y: -10%;
    transform: var(--tw-transform)
}

.rotate-90 {
    --tw-rotate: 90deg
}

.rotate-90,
.scale-50 {
    transform: var(--tw-transform)
}

.scale-50 {
    --tw-scale-x: .5;
    --tw-scale-y: .5
}

.transform {
    transform: var(--tw-transform)
}

@keyframes spin {
    to {
        transform: rotate(1turn)
    }
}

.animate-spin {
    animation: spin 1s linear infinite
}

.cursor-text {
    cursor: text
}

.cursor-pointer {
    cursor: pointer
}

.cursor-not-allowed {
    cursor: not-allowed
}

.resize {
    resize: both
}

.appearance-none {
    -webkit-appearance: none;
    appearance: none
}

.flex-col {
    flex-direction: column
}

.flex-wrap {
    flex-wrap: wrap
}

.content-center {
    align-content: center
}

.items-start {
    align-items: flex-start
}

.items-center {
    align-items: center
}

.justify-end {
    justify-content: flex-end
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.overflow-auto {
    overflow: auto
}

.overflow-hidden {
    overflow: hidden
}

.overflow-visible {
    overflow: visible
}

.overflow-x-auto {
    overflow-x: auto
}

.overflow-x-hidden {
    overflow-x: hidden
}

.overflow-y-hidden {
    overflow-y: hidden
}

.overflow-ellipsis {
    text-overflow: ellipsis
}

.whitespace-nowrap {
    white-space: nowrap
}

.rounded-md {
    border-radius: .375rem
}

.rounded-full {
    border-radius: 9999px
}

.rounded {
    border-radius: .25rem
}

.rounded-b-md {
    border-bottom-left-radius: .375rem;
    border-bottom-right-radius: .375rem
}

.rounded-t {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem
}

.rounded-r-none {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0
}

.rounded-l-none {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}

.border {
    border-width: 1px
}

.border-0 {
    border-width: 0
}

.border-b-0 {
    border-bottom-width: 0
}

.border-t {
    border-top-width: 1px
}

.border-b {
    border-bottom-width: 1px
}

.border-l-\[3px\] {
    border-left-width: 3px
}

.border-transparent {
    border-color: transparent
}

.bg-transparent {
    background-color: initial
}

.bg-center {
    background-position: 50%
}

.bg-no-repeat {
    background-repeat: no-repeat
}

.fill-\[var\(--color-border-muted\)\] {
    fill: var(--color-border-muted)
}

.p-2 {
    padding: .5rem
}

.p-4 {
    padding: 1rem
}

.p-0 {
    padding: 0
}

.px-1 {
    padding-left: .25rem;
    padding-right: .25rem
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.py-2 {
    padding-bottom: .5rem;
    padding-top: .5rem
}

.px-2 {
    padding-left: .5rem;
    padding-right: .5rem
}

.py-1 {
    padding-bottom: .25rem;
    padding-top: .25rem
}

.px-\[12px\] {
    padding-left: 12px;
    padding-right: 12px
}

.py-\[5px\] {
    padding-bottom: 5px;
    padding-top: 5px
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.px-\[10px\] {
    padding-left: 10px;
    padding-right: 10px
}

.px-\[6px\] {
    padding-left: 6px;
    padding-right: 6px
}

.px-\[5px\] {
    padding-left: 5px;
    padding-right: 5px
}

.py-\[3px\] {
    padding-bottom: 3px;
    padding-top: 3px
}

.py-\[2px\] {
    padding-bottom: 2px;
    padding-top: 2px
}

.px-3 {
    padding-left: .75rem;
    padding-right: .75rem
}

.py-\[6px\] {
    padding-bottom: 6px;
    padding-top: 6px
}

.py-0 {
    padding-bottom: 0
}

.pt-0,
.py-0 {
    padding-top: 0
}

.pl-4 {
    padding-left: 1rem
}

.pr-6 {
    padding-right: 1.5rem
}

.pr-4 {
    padding-right: 1rem
}

.pl-5 {
    padding-left: 1.25rem
}

.pt-2 {
    padding-top: .5rem
}

.pb-4 {
    padding-bottom: 1rem
}

.pb-2 {
    padding-bottom: .5rem
}

.pl-\[2em\] {
    padding-left: 2em
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.align-top {
    vertical-align: top
}

.align-middle {
    vertical-align: middle
}

.font-mono {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem
}

.text-\[11px\] {
    font-size: 11px
}

.font-semibold {
    font-weight: 600
}

.capitalize {
    text-transform: capitalize
}

.leading-5 {
    line-height: 1.25rem
}

.leading-\[6px\] {
    line-height: 6px
}

.leading-\[24px\] {
    line-height: 24px
}

.leading-\[inherit\] {
    line-height: inherit
}

.no-underline {
    text-decoration: none
}

.placeholder-gray-500::placeholder {
    --tw-placeholder-opacity: 1;
    color: rgba(107, 114, 128, var(--tw-placeholder-opacity))
}

.filter {
    filter: var(--tw-filter)
}

.transition {
    transition-duration: .15s;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.transition-none {
    transition-property: none
}

.transition-transform {
    transition-duration: .15s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.duration-100 {
    transition-duration: .1s
}

.ease-in-out {
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.first\:mt-0:first-child {
    margin-top: 0
}

.hover\:underline:hover {
    text-decoration: underline
}

.hover\:no-underline:hover {
    text-decoration: none
}

.focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px
}

@media (min-width:640px) {
    .sm\:inline-flex {
        display: inline-flex
    }

    .sm\:min-w-\[50\%\] {
        min-width: 50%
    }
}

/*! This file contains adapted styles from the Primer CSS
 * design system, original styles licensed under:
 * MIT License
 * Copyright (c) 2021 GitHub Inc.
 * https://github.com/primer/css/blob/main/LICENSE
 */
* {
    border-color: var(--color-border-default, var(--color-border-primary))
}

a {
    color: var(--color-accent-fg, var(--color-text-link))
}

@media screen and (max-width:320px) {
    html {
        font-size: 5vw
    }
}

.color-bg-primary {
    background-color: var(--color-canvas-default, var(--color-bg-primary))
}

.color-bg-secondary {
    background-color: var(--color-canvas-subtle, var(--color-bg-secondary))
}

.color-bg-tertiary {
    background-color: var(--color-canvas-subtle, var(--color-bg-tertiary))
}

.color-bg-canvas {
    background-color: var(--color-canvas-default, var(--color-bg-canvas))
}

.color-bg-canvas-inset {
    background-color: var(--color-canvas-inset, var(--color-bg-canvas-inset))
}

.color-bg-overlay {
    background-color: var(--color-canvas-overlay, var(--color-bg-overlay))
}

.color-bg-info {
    background-color: var(--color-accent-subtle, var(--color-bg-info))
}

.color-text-primary,
.link-primary {
    color: var(--color-fg-default, var(--color-text-primary))
}

.color-fg-muted,
.color-text-secondary,
.link-secondary {
    color: var(--color-fg-muted, var(--color-text-secondary))
}

.color-text-tertiary {
    color: var(--color-fg-muted, var(--color-text-tertiary))
}

.color-text-link,
.link-primary:hover,
.link-secondary:hover {
    color: var(--color-accent-fg, var(--color-text-link))
}

.color-text-success {
    color: var(--color-success-fg, var(--color-text-success))
}

.color-text-danger {
    color: var(--color-danger-fg, var(--color-text-danger))
}

.color-border-primary {
    border-color: var(--color-border-default, var(--color-border-primary))
}

.color-border-tertiary {
    border-color: var(--color-border-default, var(--color-border-tertiary))
}

.color-border-info {
    border-color: var(--color-accent-emphasis, var(--color-border-info))
}

.form-control {
    background-color: var(--color-canvas-default, var(--color-input-bg));
    border-color: var(--color-border-default, var(--color-input-border))
}

.form-control:focus {
    border-color: var(--color-accent-emphasis, var(--color-state-focus-border));
    box-shadow: var(--color-primer-shadow-focus, var(--color-state-focus-shadow));
    outline: none
}

.input-contrast {
    background-color: var(--color-canvas-inset, var(--color-input-contrast-bg))
}

.input-contrast:focus {
    background-color: var(--color-canvas-default, var(--color-input-bg))
}

.color-label-border {
    border-color: var(--color-border-default, var(--color-label-border))
}

.color-box-border-info {
    border-color: var(--color-accent-muted, var(--color-box-border-info))
}

.btn {
    background-color: var(--color-btn-bg);
    border-color: var(--color-btn-border);
    border-radius: .375rem;
    border-width: 1px;
    box-shadow: var(--color-btn-shadow), var(--color-btn-inset-shadow);
    color: var(--color-btn-text);
    cursor: pointer;
    display: inline-block;
    font-size: .875rem;
    line-height: 1.25rem;
    padding: 5px 1rem;
    position: relative;
    transition: .2s cubic-bezier(.3, 0, .5, 1);
    transition-delay: 0s;
    transition-property: color, background-color, border-color;
    white-space: nowrap
}

.btn,
.BtnGroup {
    vertical-align: middle
}

.BtnGroup {
    display: inline-flex
}

.BtnGroup-item {
    border-radius: 0
}

.BtnGroup-item:first-child:not(:only-child) {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: 0;
    border-top-left-radius: .25rem;
    border-top-right-radius: 0
}

.BtnGroup-item:last-child:not(:only-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: .25rem;
    border-top-left-radius: 0;
    border-top-right-radius: .25rem
}

.BtnGroup-item:first-child+.BtnGroup-item:last-child,
.BtnGroup-item:not(:first-child):not(:last-child) {
    border-left-width: 0
}

.btn:hover {
    background-color: var(--color-btn-hover-bg);
    border-color: var(--color-btn-hover-border);
    transition-duration: .1s
}

.btn:active {
    background-color: var(--color-btn-active-bg);
    border-color: var(--color-btn-active-border);
    outline: 2px solid transparent;
    outline-offset: 2px;
    transition-property: none
}

.btn[aria-selected=true] {
    background-color: var(--color-btn-selected-bg);
    box-shadow: var(--color-primer-shadow-inset)
}

.btn-primary {
    background-color: var(--color-btn-primary-bg);
    border-color: var(--color-btn-primary-border);
    box-shadow: var(--color-btn-primary-shadow), var(--color-btn-primary-inset-shadow);
    color: var(--color-btn-primary-text)
}

.btn-primary:hover {
    background-color: var(--color-btn-primary-hover-bg);
    border-color: var(--color-btn-primary-hover-border)
}

.btn-primary:active {
    background-color: var(--color-btn-primary-selected-bg);
    box-shadow: var(--color-btn-primary-selected-shadow)
}

.btn-primary:disabled {
    background-color: var(--color-btn-primary-disabled-bg);
    border-color: var(--color-btn-primary-disabled-border);
    color: var(--color-btn-primary-disabled-text)
}

.octicon {
    fill: currentColor
}

/*! Compatibility shim for @primer/css to style GitHub-generated HTML */
.border-0 {
    border-style: none
}

.team-mention,
.user-mention {
    color: var(--color-fg-default, var(--color-text-primary));
    font-weight: 600;
    white-space: nowrap
}

.position-relative {
    position: relative
}

.position-absolute {
    position: absolute
}

.d-none {
    display: none !important
}

.btn .octicon {
    vertical-align: bottom
}

.btn:not(.btn-primary) .octicon:not(.color-text-success) {
    color: var(--color-fg-muted, var(--color-text-tertiary))
}

.rounded-1 {
    border-radius: .375rem
}

.border-bottom {
    border-bottom-width: 1px
}

.f6 {
    font-size: .75rem;
    line-height: 1rem
}

.lh-condensed {
    line-height: 1.25
}

.text-bold {
    font-weight: 600
}

.commit-tease-sha {
    color: var(--color-fg-default, var(--color-text-primary));
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-size: 90%
}

.rounded-2 {
    border-radius: .375rem
}

.task-list-item {
    list-style-type: none
}

.task-list-item-checkbox {
    margin: 0 .2em .25em -1.6em;
    vertical-align: middle
}

.Box {
    background-color: var(--color-canvas-default, var(--color-bg-canvas));
    border-color: var(--color-border-default, var(--color-border-primary));
    border-radius: .375rem;
    border-width: 1px
}

.Box--condensed {
    line-height: 1.25
}

.Box-header {
    background-color: var(--color-canvas-subtle, var(--color-bg-secondary));
    border-color: var(--color-border-default, var(--color-border-primary));
    border-top-left-radius: .375rem;
    border-top-right-radius: .375rem;
    border-width: 1px;
    margin: -1px -1px 0;
    padding: 1rem
}

.Box--condensed .Box-header {
    padding: .5rem 1rem
}

.blob-wrapper {
    border-bottom-left-radius: .375rem;
    border-bottom-right-radius: .375rem;
    overflow-x: auto;
    overflow-y: hidden
}

.blob-wrapper-embedded {
    max-height: 240px;
    overflow-y: auto
}

.blob-num {
    color: var(--color-fg-subtle, var(--color-diff-blob-num-text));
    cursor: pointer;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-size: .75rem;
    line-height: 1rem;
    line-height: 1.25rem;
    min-width: 50px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
    -webkit-user-select: none;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 1%
}

.blob-num:hover {
    color: var(--color-fg-default, var(--color-diff-blob-num-hover-text))
}

.blob-num:before {
    content: attr(data-line-number)
}

.blob-code-inner {
    word-wrap: normal;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-size: .75rem;
    line-height: 1rem;
    overflow: visible;
    white-space: pre
}

.blob-wrapper.blob-wrapper-embedded table tr:nth-child(2n) {
    background-color: initial
}

.email-hidden-toggle a {
    background: var(--color-neutral-muted, var(--color-hidden-text-expander-bg));
    border-width: 1px;
    color: var(--color-fg-default, var(--color-text-primary));
    display: inline-block;
    font-size: .75rem;
    font-weight: 600;
    height: .75rem;
    line-height: 1rem;
    line-height: 6px;
    padding-left: .5rem;
    padding-right: .5rem;
    text-decoration: none;
    vertical-align: middle
}

.email-quoted-reply,
.email-signature-reply {
    border-left-color: var(--color-border-default, var(--color-border-primary));
    border-left-width: 4px;
    color: var(--color-fg-muted, var(--color-text-secondary));
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem
}

.email-hidden-reply {
    display: none;
    white-space: pre-wrap
}

.email-hidden-reply.expanded {
    display: block
}

.highlight .zeroclipboard-container,
.snippet-clipboard-content .zeroclipboard-container {
    animation: fade-out .2s both;
    opacity: 0
}

.highlight:hover .zeroclipboard-container,
.snippet-clipboard-content:hover .zeroclipboard-container {
    animation: fade-in .2s both;
    opacity: 1
}

.zeroclipboard-link {
    color: var(--color-accent-fg, var(--color-text-link));
    cursor: pointer;
    margin: 0;
    padding: 0
}

.ClipboardButton {
    margin: .5rem;
    padding: 0
}

img.emoji {
    background-color: initial;
    display: inline;
    max-width: none;
    vertical-align: top
}

.form-select {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIGZpbGw9IiM1ODYwNjkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0ibTQuNDI3IDkuNDI3IDMuMzk2IDMuMzk2YS4yNTEuMjUxIDAgMCAwIC4zNTQgMGwzLjM5Ni0zLjM5NkEuMjUuMjUgMCAwIDAgMTEuMzk2IDlINC42MDRhLjI1LjI1IDAgMCAwLS4xNzcuNDI3ek00LjQyMyA2LjQ3IDcuODIgMy4wNzJhLjI1LjI1IDAgMCAxIC4zNTQgMEwxMS41NyA2LjQ3YS4yNS4yNSAwIDAgMS0uMTc3LjQyN0g0LjZhLjI1LjI1IDAgMCAxLS4xNzctLjQyN3oiLz48L3N2Zz4=");
    background-position: right 4px center
}

.form-checkbox {
    margin-bottom: 15px;
    margin-top: 15px;
    padding-left: 1.25rem;
    vertical-align: middle
}

.form-checkbox input[type=checkbox],
.form-checkbox input[type=radio] {
    float: left;
    margin-left: -1.25rem;
    margin-top: .25rem;
    vertical-align: middle
}

/*! giscus-specific styles */
.gsc-tl-line {
    background-color: var(--color-border-muted, var(--color-border-secondary));
    flex-shrink: 0;
    height: 100%;
    left: 30px;
    position: absolute;
    top: 0;
    width: 2px
}

.gsc-reactions-popover.open.popover:before {
    border: 8px solid transparent;
    border-bottom: 8px solid var(--color-border-default, var(--color-border-primary));
    content: "";
    left: 9px;
    position: absolute;
    top: -16px
}

.gsc-reactions-popover.open.popover:after {
    border: 7px solid transparent;
    border-bottom: 8px solid var(--color-canvas-overlay, var(--color-bg-overlay));
    content: "";
    left: 10px;
    position: absolute;
    top: -15px
}

.gsc-reactions-popover.open.popover-only:before {
    border: 8px solid transparent;
    border-bottom: 8px solid var(--color-border-default, var(--color-border-primary));
    content: "";
    position: absolute;
    right: 9px;
    top: -16px
}

.gsc-reactions-popover.open.popover-only:after {
    border: 7px solid transparent;
    border-bottom: 8px solid var(--color-canvas-overlay, var(--color-bg-overlay));
    content: "";
    position: absolute;
    right: 10px;
    top: -15px
}

.gsc-emoji-button:focus .gsc-emoji,
.gsc-emoji-button:hover .gsc-emoji {
    display: inline-block;
    transform: scaleX(1.5) scaleY(1.5);
    transition-duration: .15s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.gsc-reply:first-child>.gsc-tl-line {
    height: calc(100% - 16px);
    top: 16px
}

.gsc-homepage-bg {
    background-color: var(--color-canvas-default, var(--color-bg-canvas))
}

.gsc-comments,
.gsc-timeline {
    display: flex;
    flex-direction: column;
    margin-top: .5rem
}

.gsc-comment {
    display: flex;
    font-size: .875rem;
    line-height: 1.25rem;
    margin-bottom: 1rem;
    margin-top: 1rem
}

.gsc-main {
    width: 100%
}

.gsc-reactions {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem
}

.gsc-reactions-count {
    font-weight: 600;
    text-align: center
}

.gsc-header,
.gsc-left-header {
    visibility: hidden;
    align-items: center;
    display: flex;
    flex: 1 1 auto
}

.gsc-left-header {
    flex-wrap: wrap;
    white-space: nowrap
}

.gsc-comments-count,
.gsc-comments-count-separator {
    font-weight: 600;
    margin-right: .5rem
}

.gsc-replies-count {
    margin-right: .5rem
}

.gsc-pagination {
    background-position: 50%;
    background-repeat: repeat-x;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-bottom: .5rem;
    padding-top: .5rem
}

.gsc-comment-header {
    align-items: center;
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem
}

.gsc-comment-author {
    flex: 1 1 auto;
    padding-top: .5rem
}

.gsc-comment-author,
.gsc-comment-author-avatar {
    align-items: center;
    display: flex
}

.gsc-comment-edited,
.gsc-reply-edited {
    display: none
}

@media (min-width:640px) {

    .gsc-comment-edited,
    .gsc-reply-edited {
        display: inline-block
    }
}

.gsc-comment-content {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    padding: 1rem
}

.gsc-comment-content.minimized {
    border-bottom-width: 1px;
    padding: .5rem 1rem
}

.gsc-comment-footer {
    align-content: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: .75rem
}

.gsc-comment-reactions {
    align-items: flex-start;
    display: flex;
    justify-content: flex-end;
    margin-left: 1rem
}

.gsc-comment-replies-count {
    margin-right: 1rem;
    white-space: nowrap
}

.gsc-replies {
    border-bottom-left-radius: .375rem;
    border-bottom-right-radius: .375rem;
    border-top-width: 1px;
    padding-top: .5rem
}

.gsc-comment-box {
    font-size: .875rem;
    line-height: 1.25rem;
    margin-top: 1rem;
    width: 100%
}

.gsc-comment-box:not(.gsc-comment-box-is-reply) {
    border-radius: .25rem;
    border-width: 1px
}

.gsc-comment-box-tabs {
    align-items: center;
    border-bottom-width: 1px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    display: flex;
    justify-content: space-between
}

.gsc-comment .gsc-comment-box-tabs {
    border-radius: 0;
    border-top-width: 1px
}

.gsc-comment-box-md-toolbar {
    align-items: center;
    display: inline-flex;
    margin-left: .5rem;
    margin-right: .5rem;
    margin-top: .5rem
}

.gsc-toolbar-item {
    color: var(--color-fg-muted, var(--color-text-secondary))
}

.gsc-toolbar-item:focus,
.gsc-toolbar-item:hover {
    color: var(--color-accent-fg, var(--color-text-link))
}

.gsc-comment-box-main {
    margin: .5rem
}

.gsc-comment-box-preview {
    border-bottom-width: 2px;
    min-height: 105px;
    padding: .5rem .5rem 1rem
}

.gsc-comment-box-textarea {
    border-radius: .25rem;
    border-width: 1px;
    max-height: 500px;
    min-height: 100px;
    padding: .5rem;
    width: 100%
}

.gsc-comment-box-textarea:disabled {
    cursor: not-allowed
}

.gsc-comment-box-bottom {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: .5rem
}

.gsc-comment-box-markdown-hint {
    font-size: .75rem;
    line-height: 1rem
}

.gsc-comment-box-markdown-hint:hover {
    text-decoration: none
}

.gsc-comment-box-buttons {
    display: inline-flex;
    flex-shrink: 0
}

.gsc-reply-box {
    border-bottom-left-radius: .375rem;
    border-bottom-right-radius: .375rem;
    border-top-width: 1px;
    display: flex;
    padding: .5rem 1rem
}

.gsc-social-reaction-summary-item {
    background-color: initial;
    border-color: var(--color-border-default, var(--color-border-primary));
    border-radius: 9999px;
    border-width: 1px;
    color: var(--color-fg-muted, var(--color-text-secondary));
    line-height: 24px;
    padding-left: 6px;
    padding-right: 6px;
    white-space: nowrap
}

.gsc-social-reaction-summary-item:hover {
    background-color: var(--color-social-reaction-bg-hover)
}

.gsc-social-reaction-summary-item.has-reacted {
    background-color: var(--color-accent-subtle, var(--color-bg-info));
    border-color: var(--color-accent-emphasis, --color-social-reaction-border);
    color: var(--color-accent-fg, var(--color-text-link))
}

.gsc-social-reaction-summary-item.has-reacted:hover {
    background-color: var(--color-social-reaction-bg-reacted-hover)
}

.gsc-social-reaction-summary-item:disabled {
    cursor: not-allowed
}

.gsc-upvotes {
    flex-shrink: 0;
    margin-right: .5rem;
    text-align: center;
    width: 3.5rem
}

.gsc-upvote-count {
    border-radius: 9999px;
    font-size: .75rem;
    line-height: 1rem;
    line-height: 1.25rem;
    margin-left: 2px;
    margin-right: auto;
    min-width: 26px;
    overflow-x: hidden;
    padding-left: .25rem;
    padding-right: .25rem;
    text-overflow: ellipsis;
    width: -webkit-min-content;
    width: min-content
}

.gsc-upvote-button {
    margin-right: .5rem
}

.gsc-upvote-button:hover svg {
    --tw-translate-y: -10%;
    transform: var(--tw-transform);
    transition-duration: .15s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.gsc-reactions-menu {
    position: relative
}

.gsc-reactions-button {
    font-size: .75rem;
    line-height: 1rem;
    line-height: inherit;
    margin-right: .5rem;
    padding: 3px 5px
}

.gsc-reactions-button:hover {
    color: var(--color-fg-muted, var(--color-text-tertiary))
}

.gsc-reactions-button.popover-only {
    background-color: initial;
    border-style: none;
    border-width: 1px
}

.gsc-reactions-button.popover-only:hover {
    color: var(--color-accent-fg, var(--color-text-link))
}

.gsc-reactions-popover {
    --tw-scale-x: .5;
    --tw-scale-y: .5;
    border-radius: .25rem;
    border-width: 1px;
    margin-top: 2px;
    position: absolute;
    transform: var(--tw-transform);
    transform-origin: center;
    transition-duration: .15s;
    transition-duration: .1s;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    visibility: hidden;
    width: 146px;
    z-index: 20
}

.gsc-reactions-popover.open {
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: var(--tw-transform);
    visibility: visible
}

.gsc-reactions-popover.popover-only {
    right: 0
}

.gsc-emoji-button {
    border-radius: 0;
    height: 2rem;
    margin-right: -1px;
    margin-top: -1px;
    width: 2rem
}

.gsc-emoji-button.has-reacted {
    border-width: 1px
}

.gsc-emoji-button.no-token {
    cursor: not-allowed
}

.gsc-direct-reaction-buttons {
    display: flex;
    flex-wrap: wrap
}

.gsc-direct-reaction-button {
    border-width: 1px;
    margin-bottom: .25rem;
    margin-right: .5rem
}

.gsc-reply {
    position: relative
}

.gsc-reply-author-avatar {
    flex-shrink: 0;
    z-index: 10
}

.gsc-reply-header {
    display: flex
}

.gsc-reply-author {
    align-items: flex-start;
    display: flex;
    flex: 1 1 auto
}

.gsc-reply-content {
    padding-right: 1rem;
    width: 100%
}

.gsc-reply-content.not-shown {
    padding-bottom: .5rem
}

.gsc-reply-reactions {
    align-content: center;
    display: flex;
    margin-right: 1rem
}

.gsc-is-fixed-width {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace
}

.inline-flex {
    display: inline-flex
}

/*!
 * GitHub Light v0.5.0
 * Copyright (c) 2012 - 2017 GitHub, Inc.
 * Licensed under MIT (https://github.com/primer/github-syntax-theme-generator/blob/master/LICENSE)
 */
.pl-c {
    color: var(--color-prettylights-syntax-comment)
}

.pl-smw,
.pl-v {
    color: var(--color-prettylights-syntax-variable)
}

.pl-c1,
.pl-s .pl-v {
    color: var(--color-prettylights-syntax-constant)
}

.pl-e,
.pl-en {
    color: var(--color-prettylights-syntax-entity)
}

.pl-s .pl-s1,
.pl-smi {
    color: var(--color-prettylights-syntax-storage-modifier-import)
}

.pl-ent {
    color: var(--color-prettylights-syntax-entity-tag)
}

.pl-k {
    color: var(--color-prettylights-syntax-keyword)
}

.pl-pds,
.pl-s,
.pl-s .pl-pse .pl-s1,
.pl-sr,
.pl-sr .pl-cce,
.pl-sr .pl-sra,
.pl-sr .pl-sre {
    color: var(--color-prettylights-syntax-string)
}

.pl-bu {
    color: var(--color-prettylights-syntax-brackethighlighter-unmatched)
}

.pl-ii {
    background-color: var(--color-prettylights-syntax-invalid-illegal-bg);
    color: var(--color-prettylights-syntax-invalid-illegal-text)
}

.pl-c2 {
    background-color: var(--color-prettylights-syntax-carriage-return-bg);
    color: var(--color-prettylights-syntax-carriage-return-text)
}

.pl-c2:before {
    content: "^M"
}

.pl-sr .pl-cce {
    color: var(--color-prettylights-syntax-string-regexp);
    font-weight: 700
}

.pl-ml {
    color: var(--color-prettylights-syntax-markup-list)
}

.pl-mh,
.pl-mh .pl-en,
.pl-ms {
    color: var(--color-prettylights-syntax-markup-heading);
    font-weight: 700
}

.pl-mi {
    color: var(--color-prettylights-syntax-markup-italic);
    font-style: italic
}

.pl-mb {
    color: var(--color-prettylights-syntax-markup-bold);
    font-weight: 700
}

.pl-md {
    background-color: var(--color-prettylights-syntax-markup-deleted-bg);
    color: var(--color-prettylights-syntax-markup-deleted-text)
}

.pl-mi1 {
    background-color: var(--color-prettylights-syntax-markup-inserted-bg);
    color: var(--color-prettylights-syntax-markup-inserted-text)
}

.pl-mc {
    background-color: var(--color-prettylights-syntax-markup-changed-bg);
    color: var(--color-prettylights-syntax-markup-changed-text)
}

.pl-mi2 {
    background-color: var(--color-prettylights-syntax-markup-ignored-bg);
    color: var(--color-prettylights-syntax-markup-ignored-text)
}

.pl-mdr {
    color: var(--color-prettylights-syntax-meta-diff-range);
    font-weight: 700
}

.pl-ba {
    color: var(--color-prettylights-syntax-brackethighlighter-angle)
}

.pl-sg {
    color: var(--color-prettylights-syntax-sublimelinter-gutter-mark)
}

.pl-corl {
    color: var(--color-prettylights-syntax-constant-other-reference-link);
    text-decoration: underline
}

body * {
    border-color: var(--color-border-default, var(--color-border-primary))
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

.markdown {
    overflow-wrap: break-word
}

.markdown strong {
    font-weight: 600
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 1.5rem
}

.markdown h1,
.markdown h2 {
    border-bottom-width: 1px;
    padding-bottom: .5rem
}

.markdown h1 {
    font-size: 1.875rem;
    line-height: 2.25rem
}

.markdown h2 {
    font-size: 1.5rem;
    line-height: 2rem
}

.markdown h3 {
    font-size: 1.25rem;
    line-height: 1.75rem
}

.markdown h4 {
    font-size: 1rem;
    line-height: 1.5rem
}

.markdown h5 {
    font-size: .875rem;
    line-height: 1.25rem
}

.markdown h6 {
    color: var(--color-fg-muted, var(--color-text-secondary));
    font-size: .75rem;
    line-height: 1rem
}

.markdown .g-emoji {
    font-family: Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif;
    font-weight: 400
}

.markdown code,
.markdown tt {
    background-color: var(--color-neutral-muted);
    border-radius: .375rem;
    font-size: .75rem;
    line-height: 1rem;
    padding: 2px .25rem
}

.markdown .highlight,
.markdown blockquote,
.markdown details,
.markdown dl,
.markdown ol,
.markdown p,
.markdown pre,
.markdown table,
.markdown ul {
    margin-bottom: 1rem
}

.markdown .highlight pre,
.markdown pre {
    border-radius: .375rem;
    font-size: .75rem;
    line-height: 1rem;
    overflow: auto;
    padding: 1rem;
    background-color: var(--color-canvas-subtle, var(--color-bg-tertiary));
    line-height: 1.45
}

.markdown .highlight pre {
    margin-bottom: 0;
    overflow-wrap: normal;
    word-break: normal
}

.markdown pre>code {
    background: transparent
}

.markdown table td,
.markdown table th {
    border-width: 1px;
    padding: 6px .75rem
}

.markdown table th {
    font-weight: 600
}

.markdown table tr:nth-child(2n) {
    background-color: var(--color-canvas-subtle, var(--color-bg-tertiary))
}

.markdown blockquote {
    border-left-width: 3px;
    color: var(--color-fg-muted, var(--color-text-tertiary));
    padding-left: 1rem;
    padding-right: 1rem
}

.markdown ol,
.markdown ul {
    padding-left: 2em
}

.markdown ul {
    list-style-type: disc
}

.markdown ol {
    list-style-type: decimal
}

.markdown li+li {
    margin-top: .25rem
}

.markdown li>p {
    margin-top: 1rem
}

.markdown ol ol,
.markdown ol ul,
.markdown ul ol,
.markdown ul ul {
    margin-bottom: 0;
    margin-top: 0
}

.markdown ul ul {
    list-style-type: circle
}

.markdown ul ul ul {
    list-style-type: square
}

.markdown kbd {
    background-color: var(--color-canvas-subtle, var(--color-bg-secondary));
    border-width: 1px;
    border-radius: .375rem;
    border: 1px solid var(--color-border-default, var(--color-border-tertiary));
    box-shadow: inset 0 -1px 0 var(--color-border-default, var(--color-border-tertiary));
    color: var(--color-fg-default, var(--color-auto-gray-7));
    font-size: 11px;
    padding: 3px 5px;
    vertical-align: middle
}

.markdown hr {
    background-color: var(--color-border-default, var(--color-border-primary));
    height: .25em;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem
}

.markdown .footnotes {
    border-top-width: 1px;
    color: var(--color-fg-muted, var(--color-text-tertiary));
    font-size: .75rem;
    line-height: 1rem
}

.markdown .footnotes ol {
    padding-left: 1rem
}

.markdown .footnotes .data-footnote-backref .g-emoji {
    font-family: monospace
}

.markdown sup>a:before {
    content: "["
}

.markdown sup>a:after {
    content: "]"
}

.markdown>:last-child {
    margin-bottom: 0
}

.markdown>:first-child {
    margin-top: 0
}

.markdown .mb-0 {
    margin-bottom: 0
}

.markdown .py-0 {
    padding-bottom: 0;
    padding-top: 0
}