---
sitemap:
    exclude: "yes"
---

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: fadein 2s;
}

* {
    scroll-behavior: smooth;
    transition: 0.5s;
}

section {
    display: block;
    margin: 0 0 20px 0;
}

$apple-blossom: #ac4142;
$alto: #d0d0d0;
$bouquet: #aa759f;
$chelsea-cucumber: #00ff00;
$cod-grey: #151515;
$conifer: #00ff00;
$dove-grey: #666;
$gallery: #eaeaea;
$grey: #888;
$gulf-stream: #75b5aa;
$hippie-blue: #6a9fb5;
$potters-clay: #8f5536;
$rajah: #f4bf75;
$raw-sienna: #d28445;
$silver-chalice: #aaa;
$body-background: $cod-grey !default;
$body-foreground: $gallery !default;
$header: $conifer !default;
$blockquote-color: $silver-chalice !default;
$container-max-width: 1000px;
$apple-blossom: #ac4142;
$alto: #d0d0d0;
$bouquet: #aa759f;
$chelsea-cucumber: #00ff00;
$cod-grey: #151515;
$conifer: #00ff00;
$dove-grey: #666;
$gallery: #eaeaea;
$grey: #888;
$gulf-stream: #75b5aa;
$hippie-blue: #6a9fb5;
$potters-clay: #8f5536;
$rajah: #f4bf75;
$raw-sienna: #d28445;
$silver-chalice: #aaa;

.highlight {
    $plaintext: $alto !default;
    $string: $chelsea-cucumber !default;
    $literal: $chelsea-cucumber !default;
    $keyword: $bouquet !default;
    $error-foreground: $cod-grey !default;
    $error-background: $apple-blossom !default;
    $comment: $grey !default;
    $preprocessor: $rajah !default;
    $name-space: $rajah !default;
    $name-attribute: $hippie-blue !default;
    $operator: $rajah !default;
    $keyword-type: $raw-sienna !default;
    $regex: $gulf-stream !default;
    $string-escape: $potters-clay !default;
    $deleted: $apple-blossom !default;
    $header: $hippie-blue !default;

    color: $plaintext;

    table td {
        padding: 5px;
    }

    table pre {
        margin: 0;
    }

    .w {
        color: $plaintext;
    }

    .err {
        color: $error-foreground;
        background-color: $error-background;
    }

    .c,
    .cd,
    .cm,
    .c1,
    .cs {
        color: $comment;
    }

    .cp {
        color: $preprocessor;
    }

    .o,
    .ow {
        color: $operator;
    }

    .p,
    .pi {
        color: $plaintext;
    }

    .gi {
        color: $string;
    }

    .gd {
        color: $deleted;
    }

    .gh {
        color: $header;
        font-weight: bold;
    }

    .k,
    .kn,
    .kp,
    .kr,
    .kv {
        color: $keyword;
    }

    .kc,
    .kt,
    .kd {
        color: $keyword-type;
    }

    .s,
    .sb,
    .sc,
    .sd,
    .s2,
    .sh,
    .sx,
    .s1 {
        color: $string;
    }

    .sr {
        color: $regex;
    }

    .si,
    .se {
        color: $string-escape;
    }

    .nt,
    .nn,
    .nc,
    .no {
        color: $name-space;
    }

    .na {
        color: $name-attribute;
    }

    .m,
    .mf,
    .mh,
    .mi,
    .il,
    .mo,
    .mb,
    .mx {
        color: $literal;
    }

    .ss {
        color: $string;
    }
}

@mixin media-max-width($max-width) {
    @media (max-width: $max-width) {
        @content;
    }
}

body {
    margin: 0;
    padding: 0;
    background: black;
    color: $body-foreground;
    font-size: 16px;
    line-height: 1.5;
    font-family: JetBrains Mono,monospace;
}

/* General & 'Reset' Stuff */

.container {
    width: 90%;
    max-width: $container-max-width;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 20px;
}

li {
    line-height: 1.4;
}

/* Header, <header>
   header   - container
   h1       - project name
   h2       - project description
*/

header {
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    border-bottom: 1px dashed $conifer; //header;
    padding: 20px 0;
    margin: 0 0 40px 0;
}

header h1 {
    font-size: 30px;
    line-height: 1.5;
    margin: 0 0 0 -40px;
    font-weight: bold;
    font-family: JetBrains Mono,monospace;
    color: $conifer; //$header;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(181, 232, 83, 0.1), 0 0 10px rgba(181, 232, 83, 0.1);
    letter-spacing: -1px;
    -webkit-font-smoothing: antialiased;

    @include media-max-width($container-max-width) {
        margin-left: 0;
    }
}

header h1:before {
    content: "./ ";
    font-size: 24px;
}

header h2 {
    font-size: 18px;
    font-weight: 300;
    color: #666;
}

#downloads .btn {
    display: inline-block;
    text-align: center;
    margin: 0;
}

/* Main Content
*/

#main_content {
    width: 100%;
    -webkit-font-smoothing: antialiased;
}

img {
    border-radius: 0.375rem;
}

section img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-family: JetBrains Mono,monospace;
    color: $header;
    letter-spacing: -0.03em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(181, 232, 83, 0.1), 0 0 10px rgba(181, 232, 83, 0.1);
}

#main_content h1 {
    font-size: 30px;
}

#main_content h2 {
    font-size: 24px;
}

#main_content h3 {
    font-size: 18px;
}

#main_content h4 {
    font-size: 14px;
}

#main_content h5 {
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}

#main_content h6 {
    font-size: 12px;
    text-transform: uppercase;
    color: #999;
    margin: 0 0 5px 0;
}

dt {
    font-style: italic;
    font-weight: bold;
}

ul li {
    list-style-image: url("https://dev-to-uploads.s3.amazonaws.com/uploads/articles/w38fwlbt7cugtl21f3sj.png");
}

blockquote {
    color: $blockquote-color;
    padding-left: 10px;
    border-left: 1px solid #00ff00;
}

pre {
    background: rgba(0, 0, 0, 0.9);
    border: 1px solid #0f0;
    padding: 10px;
    font-size: 16px;
    color: #00ff00;
    border-radius: 2px;
    word-wrap: normal;
    overflow: auto;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    height: 10px;
    width: 5px;
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #0f0;
}

code.highlighter-rouge {
    background: rgba(0, 0, 0, 0.9);
    border: 1px solid #808080;
    padding: 0px 3px;
    margin: 0px -3px;
    color: #98c89b;
    border-radius: 2px;
}

pre:horizontal {
    background: #0f0;
}

table {
    width: 100%;
    margin: 0 0 20px 0;
}

th {
    text-align: left;
    border-bottom: 1px dashed #00ff00;
    padding: 5px 10px;
}

td {
    padding: 5px 10px;
}

hr {
    height: 0;
    border: 0;
    border-bottom: 1px dashed #00ff00;
    color: #00ff00;
}

/* Buttons
*/

.btn {
    display: inline-block;
    background: -webkit-linear-gradient(
        top,
        rgba(40, 40, 40, 0.3),
        rgba(35, 35, 35, 0.3) 50%,
        rgba(10, 10, 10, 0.3) 50%,
        rgba(0, 0, 0, 0.3)
    );
    padding: 8px 18px;
    border-radius: 50px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.7);
    border-top: 2px solid rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
    border: 2px solid rgba(0, 0, 0, 0.7);
}

.btn:hover {
    background: -webkit-linear-gradient(
        top,
        rgba(40, 40, 40, 0.6),
        rgba(35, 35, 35, 0.6) 50%,
        rgba(10, 10, 10, 0.8) 50%,
        rgba(0, 0, 0, 0.8)
    );
    cursor: pointer;
}

.btn .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 1px 8px 0 0;
    // float: left;
}

/* All buttons */
.btn:hover {
    opacity: 1;
    color: white;
}

/* Facebook button */
.fa-facebook-official {
    color: #3b5998;
}

/* Twitter button */
.fa-twitter {
    color: #55acee;
}

/* Pinterest button */
.fa-pinterest-p {
    color: #cb2027;
}

/* Tumblr button */
.fa-tumblr {
    color: #32506d;
}

/* Reddit button */
.fa-reddit-alien {
    color: #ff4500;
}

/* LinkedIn button */
.fa-linkedin {
    color: #007bb5;
}

/* Email button */
.fa-envelope {
    color: #444444;
}

.fa-ko-fi::before {
    color: #00b0f1;
	content: '\f0f4';
	display: inline-block;
	font-size: 1.1em;
	line-height: 0.45em;
	margin: -0.45em 0 0 -0.2em;
	overflow-y: hidden;
	padding-top: 0.45em;
}

.fa-ko-fi::after {
	color: #f25956;
	content: '\f004';
	font-size: 50%;
	font-weight: 900;
	margin: 0.5em 0 0 -2em;
	position: absolute;
}

.buymeacoffee {
    content: url("https://www.buymeacoffee.com/assets/img/bmc-meta-new/new/favicon.png");
    width: 18px;
}

.medium {
    content: url("https://user-images.githubusercontent.com/60325643/121959942-4bd49980-cd1a-11eb-8473-8a16c9f5eec0.png");
    width: 18px;
}

/* Links
   a, a:hover, a:visited
*/

a {
    color: #63c0f5;
    text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}

/* Clearfix */

.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}

#a-title {
    text-decoration: none;
}

// Back to top button

#backtotopBtn {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #00ff00;
    color: black;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#backtotopBtn:hover {
    background-color: black;
    color: #00ff00;
    cursor: pointer;
}

.credentials {
    font: 14px;
    height: 30px;
    background-color: #000;
    border-color: #0f0;
    color: white;
    font-weight: normal;
    font-family: JetBrains Mono,monospace;
    letter-spacing: -0.03em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(181, 232, 83, 0.1), 0 0 10px rgba(181, 232, 83, 0.1);
}

.credentials:focus {
    outline: none !important;
    border-color: #00ff00 !important;
    box-shadow: 0 0 10px #98ff98;
}

.mce_inline_error {
    color: #808080;
    font-size: 12px;
}

#footer {
    padding-left: 20%;
    padding-top: 1%;
    font-size: smaller;
}
