<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US " }}">

<head>
    <meta name="theme-color" content="#000000">
    <meta name="msapplication-navbutton-color" content="#000000">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="IowY-hM92vUrwxfjr60bi_PgOMxbQQGLtTVjIgamkBY" />
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="stylesheet" href="{{ '/assets/styles/style.css?v' }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css"
        integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-C3D93465DL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-C3D93465DL');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3855762306339555"
    crossorigin="anonymous"></script>
    <meta name="a.validate.02" content="CgT7rh2HjRKcxsEHwf-5oZpO9O4e0TW59vYN" />
    <title>{{ page.title }} - {{ site.title }}</title>

</head>

<body class="fade-in">
    <button onclick="topFunction()" id="backtotopBtn" title="Back to top"><i class="fa fa-arrow-up"></i></button>
    <header>
        <div class="container">
            <a id="a-title" href="{{ '/' | relative_url }}">
                <h1 style="float: left;">{{ site.title | default: site.github.repository_name }}</h1>
            </a>
            <br />
            <br />
            <h4 style="color: grey; float: inline-end;"><em>{{ site.description | default: site.github.project_tagline
                    }}</em></h4>
            <div style="margin-bottom: 15px;">
                <p class="btn" style="color: #0f0; font-size: 80%;"><i class="fa fa-rss fa-lg" aria-hidden="true"
                        style="color: #0f0;"></i> <a style="text-decoration: none; color: #0f0;"
                        href="/feed.xml">Subscribe via RSS </a></p>
                <p class="btn" style="color: #0f0; font-size: 80%;"><i class="fa fa-envelope fa-lg" aria-hidden="true"
                        style="color: #0f0;"></i> <a style="text-decoration: none; color: #0f0;"
                        href="/subscribe">Subscribe via Email </a></p>
                <p class="btn" style="color: #0f0; font-size: 80%;"> <a style="text-decoration: none; color: #0f0;"
                        href="https://twitter.com/cycool29" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"
                        style="color: #0f0;"></i> </a></p>
                <p class="btn" style="color: #0f0; font-size: 80%;"> <a style="text-decoration: none; color: #0f0;"
                        href="https://github.com/cycool29" target="_blank"><i class="fa fa-github fa-lg" aria-hidden="true"
                        style="color: #0f0;"></i> </a></p>
                <p class="btn" style="color: #0f0; font-size: 80%;"> <a style="text-decoration: none; color: #0f0;"
                        href="https://www.reddit.com/user/cycool29" target="_blank"><i class="fa fa-reddit-alien fa-lg" aria-hidden="true"
                        style="color: #0f0;"></i> </a></p>
            </div>
        </div>
    </header>

    <div class="container">
        <section id="main_content">
            {{ content }}
        </section>
    </div>

    <script>
        //Get the button:
        backtotopbutton = document.getElementById("backtotopBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                backtotopbutton.style.display = "block";
            } else {
                backtotopbutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0; // For Stupid Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE, Opera and other smart browsers
        }
    </script>
</body>


<br></br>
<br></br>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3855762306339555"
     crossorigin="anonymous"></script>
<!-- bottom ad -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-3855762306339555"
     data-ad-slot="3341600167"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<br></br>


<hr>

<footer id="footer">
    <div id='footer-text' style="float: left; padding-left: 10%; width: 40%">
        <h2>cycool29</h2>
        <p>{{ site.bio }}</p>
    </div>
    <br>
    <div id='footer-contacts' style="padding-left: 50%">
        <p><i class="fa fa-github fa-lg" aria-hidden="true"></i> <a href="https://github.com/cycool29">cycool29</a></p>
        <p><i class="fa fa-twitter fa-lg" aria-hidden="true"></i> <a href="https://twitter.com/cycool29">cycool29
            </a></p>
        <p><i class="fa fa-dev-to fa-lg" aria-hidden="true"></i> <a href="https://dev.to/cycool29">cycool29</a></p>
        <p><span class="medium"></span> <a href="https://medium.com/@cycool29">cycool29</a></p>
        <p><i class="fa fa-reddit-alien fa-lg" aria-hidden="true"></i> <a href="https://reddit.com/u/cycool29">cycool29
            </a></p>
        <p><span class="kofi"></span> <a href="https://ko-fi.com/cycool29">cycool29</a></p>
        <p><span class="buymeacoffee"></span> <a href="https://buymeacoffee.com/cycool29">cycool29</a></p>
    </div>
</footer>

</html>
